@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KyoboHand';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Katuri';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}


html, body {
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3da7ee38;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 1080px;
}

#loading-screen {
    position: fixed;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    background-color: #ffffff8f;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Katuri';
    font-size: 2em;
    flex-direction: column;
}

.loading-img {
    height: 500px;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.header {
    /* background-color: #ffffff8f; */
    height: 105px;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 요소들을 양 끝으로 정렬 */
}

.back-button {
    height: 50px;
    margin-left: 50px;
}

.home-button {
    height: 50px;
    margin-right: 50px;
}

h1 {
    font-family: 'Cafe24Ssurround';
    font-size: 50px;
    text-align: center;
    margin: 0; /* 기본 여백 제거 */
    flex-grow: 1; /* 남은 공간을 차지하게 함 */
}

.main {
    background-color: #ffffff8f;
    display: flex;
    flex-direction: column;
    height: 870px;
}

.video {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 870px;
}

.footer {
    font-family: 'Cafe24Ssurround';
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 105px;
}

.toggle-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#webcam {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 870px;
}

.play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.description {
    font-family: 'MaplestoryOTFBold';
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75px;
    margin-top: 25px;
}

.play-button {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    margin-top: -30px;
    margin-bottom: 100px;
}


#container {
    position: relative;
    width: 100%;
    height: 100%;
}

#draggable {
    position: absolute;
    cursor: grab;
    width: 300px;
    /* top: 960px;
    left: 540px; */
    /* transform: translate(-960px, -540px); */
}