@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html, body {
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(146, 139, 144, 0.08);
}

div {
    padding: 10px;
    margin: 20px;
}

.top {
    display: flex;
    justify-content: center;
    height: 170px;
}

.logo {
    background-color: aqua;
    height: 432px;  /* 1080 x 40% */
    text-align: center;
}

.logo h1 {
    font-family: 'yg-jalnan';
    /* font-size: 3em; */
    color: #333;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons a {
    text-decoration: none;
    margin: 0 10px;
}

button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}

button:focus {
    outline: none;
}
