@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KyoboHand';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Katuri';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}


html, body {
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(146, 139, 144, 0.08);
}

body {
    background: #f6f5f7;
    display: absolute;
}

.header {
    background-color: #3da7ee38;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    left: 10px;
    height: 130px;  /* 1080 x 12% */
}

.header p {
    font-family: 'yg-jalnan';
    font-size: 80px;
    color: #333;
    margin-left: 50px;
}

.main {
    background: #fff;
    padding: 20px;
    display: absolute;
    height: 950px;  /* 1080 - 130*/
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 108px;  /* 1080 x 10%*/
}

.buttons .button1 {
    height: 100%;
}

.button1 img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    margin: 30px;
}

.buttons .button2 {
    font-family: 'Cafe24Ssurround';
    font-size: 35px;
    text-decoration: none;
    color: #000000;
    height: 100%;
}

.button2 p {
    margin: 40px;
}

.button2:hover {
    display: inline-block;
    color: gray;
    text-decoration: underline black;
    transform: translateY(-4px);
    transition: 0.6s;
    transform: scale(1.1);
}

.main2 {
    height: 802px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    width: 30%;
    height: 40%;
    padding: 60px;
    margin-top: -100px;
    border: 1.5px solid #c8edfd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.title h1 {
    font-family: 'Cafe24Ssurround';
    font-size: 50px;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
}

input[type="text"] {
    width: 80%;
    height: 20%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

.error {
    color: red;
    font-size: 0.9em;
    margin: 5px 0;
}

button {
    border-radius: 30px;
    border: 1px solid #c8edfd;
    background-color: #c8edfd;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}

button:focus {
    outline: none;
}
