@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KyoboHand';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Katuri';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

html, body {
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(146, 139, 144, 0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    /* background-color: #c8edfd; */
    height: 130px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

input[id="menuicon"] {
    display: none;
}

input[id="menuicon"] + label {
    display: block;
}

input[id="menuicon"] + label img {
    height: 65px;
    margin-right: 65px;
    cursor: pointer;
    
}

/* .sidebar {
    width: 300px;
    height: 100%;
    background: #333333cc;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    transition: all .35s;
} */

.top {
    display: flex;
    justify-content: center;
    height: 170px;
}

.title-bar {
    position: relative;
    left: auto;
    padding-top: 20px;
}

.title {
    font-family: 'yg-jalnan';
    font-size: 150px;
}

.discription {
    font-family: 'Katuri';
    font-size: 50px;
}

.top img {
    background-size: contain;
    position: relative;
    right: auto;
    margin-top: 90px;
    margin-left: 50px;
    height: 250px;
}

.category {
    font-family: 'yg-jalnan';
    font-size: 60px;
    margin-top: 220px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'KyoboHand';
    font-size: 40px;
}
/* 
.buttons a {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    text-decoration: none;
} */

.buttons li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    text-decoration: none;
    float: left;
    padding: 20px; 
    background: #659EC7; 
    overflow: hidden;
    box-shadow: inset 0px 0px 10px #ccc, 0px 0px 10px #659EC7;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.buttons li:hover {
    width: 300px;
    background: #488AC7;
    box-shadow: 0px 0px 10px #488AC7;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.buttons li:first-child {
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}

.buttons li:last-child {
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}

.buttons li:first-child:hover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-transform: scale(1.2) rotate(-2deg);
    -moz-transform: scale(1.2) rotate(-2deg);
    transform: scale(1.2) rotate(-2deg);
}

.buttons li:last-child:hover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-transform: scale(1.2) rotate(2deg);
    -moz-transform: scale(1.2) rotate(2deg);
    transform: scale(1.2) rotate(2deg);
}

.buttons li a {
    display: inline-block;   
    color: #fefefe;
    text-decoration: none;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px #333;
    font-size: 20px;
    cursor: default;
}

.buttons .image {
    display: none;
    color: #FFF8C6;
    line-height: 22px;
}

.buttons li:hover > .image {
    display: block;
}

.button-blue, .button-white {
    text-align: center;
    font-family: 'Cafe24Ssurround';
    font-size: 60px;
    margin: 0 30px;
    height: 500px;
    border-radius: 20px;
    border: none;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-blue {
    background-color: #c8edfd;
}

.button-white {
    background-color: #ffffff;
    border: 1px solid #000;
}

.button-blue:hover, .button-white:hover {
    background-color: #AB957B;
    cursor: pointer;
}
