body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 800px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 3em;
}

.header p {
    font-size: 1.2em;
    color: #666;
}

.categories {
    margin-top: 20px;
}

.categories h2 {
    margin-top: 20px;
    font-size: 1.5em;
}

.content {
    display: flex;
    justify-content: center;
}

.box {
    background-color: #d3d9dd;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    flex: 1;
    max-width: 150px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.blue {
    background-color: #87CEEB;
}

.white {
    background-color: #ffffff;
    color: black;
    border: 1px solid #ddd;
}

.image {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.image img {
    width: 150px; /* 이미지 크기에 맞게 조정 */
    height: auto;
}

.back-button {
    font-size: 2em;
    color: #87CEEB;
    text-decoration: none;
    margin-right: 20px;
}

.content {
    margin-top: 20px;
}

.content img {
    width: 100%; /* 이미지 크기에 맞게 조정 */
    height: auto;
}

.content p {
    margin-top: 20px;
    font-size: 1.2em;
}

.play-button img {
    width: 50px; /* 이미지 크기에 맞게 조정 */
    height: auto;
    margin-top: 20px;
}
