body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
}

.header {
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: flex;
    justify-content: center;
}

.box {
    background-color: #d3d9dd;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    flex: 1;
    max-width: 150px;
    text-align: center;
}

.detail-container {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

video {
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 100%;
    max-width: 640px;
}

.play-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.play-button:hover {
    background-color: #444;
}
