<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ game.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/3.css') }}">
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        #loading-screen {
            background-image: url("{{ url_for('static', filename='img/main_background5.webp') }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>
<body>
    <div id="loading-screen">
        <img src="{{ url_for('static', filename='img/character.png') }}" alt='마스코트' class="loading-img">
        <div class="spinner"></div>
        <p>잠시만 기다려주세요~!</p>
    </div>
    <div id="content" style="display: none;">
        <div class="header">
            <a href="{{ url_for('game', game_name=game.title) }}">
                <img src="{{ url_for('static', filename='img/back.png') }}" alt="뒤로가기" class="back-button">
            </a>
            <h1>{{ game.title }}</h1>
            <a href="{{ url_for('main') }}">
                <img src="{{ url_for('static', filename='img/home.png') }}" alt="메인화면" class="home-button">
            </a>
        </div>
        <div class="main">
            <div class="quiz">
                <img id="quizImage" src="{{ url_for('static', filename=quiz_image) }}" alt="quiz image" class="quiz-img">
            </div>
            <div class="video">
                <video id="webcam" autoplay></video>
            </div>
        </div>
        <div id="image-container"></div>
        <div class="footer">
            <button id="hintBtn">힌트</button>
            <button id="captureBtn">정답 확인</button>
            <button id="nextBtn">다음 그림</button>
            <p id="result"></p>
        </div>
    </div>
    <script>
        // 로딩창
        window.onload = function() {
            setTimeout(function() {
                document.getElementById('loading-screen').style.display = 'none';
                document.getElementById('content').style.display = 'block';
            }, 2000);  // 2초 지연
        }

        const video = document.getElementById('webcam');
        const captureBtn = document.getElementById('captureBtn');
        const nextBtn = document.getElementById('nextBtn');
        const result = document.getElementById('result');
        let currentQuizIndex = 0;

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
            });

        captureBtn.addEventListener('click', () => {
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0);
            const data = canvas.toDataURL('image/jpeg');
            fetch('/capture', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ image: data })
            })
            .then(response => response.json())
            .then(data => {
                result.textContent = `예측된 클래스: ${data.class}, 확률: ${data.probability}`;
                // nextBtn.style.display = 'none';
                // captureBtn.style.display = 'none';
            });
        });

        nextBtn.addEventListener('click', () => {
            currentQuizIndex++;
            fetch(`/next_quiz/${currentQuizIndex}`)
                .then(response => response.json())
                .then(data => {
                    if (data.image) {
                        document.getElementById('quizImage').src = data.image;
                        result.textContent = '';
                        // nextBtn.style.display = 'none';
                        // captureBtn.style.display = 'none';
                    } else {
                        result.textContent = data.message;
                        // nextBtn.style.display = 'none';
                    }
                });
        });
    </script>
</body>
</html>
