<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ game.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/3.css') }}">
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        #loading-screen {
            background-image: url("{{ url_for('static', filename='img/loading_page.webp') }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>
<body>
    <div id="loading-screen">
        <img src="{{ url_for('static', filename='img/animated_character.gif') }}" alt='마스코트' class="loading-img">
        <div class="spinner"></div>
        <p>잠시만 기다려주세요~!</p>
    </div>
    <div id="content" style="display: none;">
        <div class="header">
            <a href="{{ url_for('game', game_name=game.title) }}">
                <img src="{{ url_for('static', filename='img/back.png') }}" alt="뒤로가기" class="back-button">
            </a>
            <h1>{{ game.title }}</h1>
            <a href="{{ url_for('main') }}">
                <img src="{{ url_for('static', filename='img/home.png') }}" alt="메인화면" class="home-button">
            </a>
        </div>
        <div class="main">
            <div class="description">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/cliped_character.png') }}" alt="character image" class="character-img" id="cci">
                    <img id="quizImage" src="{{ url_for('static', filename=quiz_image) }}" alt="quiz image" class="quiz-img">
                </div>
                <div class="buttons">
                    <button id="hintBtn">힌트</button>
                    <button id="nextBtn">다음</button>
                </div>
            </div>
            <div class="video">
                <video id="webcam" autoplay></video>
                <div id="overlay">
                    <div id="overlay-hint" class="hint-text"></div>
                    <img id="overlay-img" src="{{ url_for('static', filename='img/animated_character.gif') }}" alt='마스코트' class="overlay-img">
                    <div id="overlay-wait" class="wait-text"></div>
                </div>
            </div>
        </div>
        <!-- <div id="overlay-last">
            <img id="last-img" src="{{ url_for('static', filename='img/animated_character.gif') }}" alt='마스코트'>
        </div> -->
    </div>
    <script src="{{ url_for('static', filename='js/loading.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game3.js') }}"></script>
</body>
</html>
