<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ game.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
    <style>
        body {
            /* background-image: url("{{ url_for('static', filename='img/main_background.webp') }}"); */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        #loading-screen {
            background-image: url("{{ url_for('static', filename='img/main_background5.webp') }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .moving-img {
            position: absolute;
            width: 100px; /* 기본 크기, 필요에 따라 조정 */
        }
    </style>
</head>
<body>
    <div id="loading-screen">
        <img src="{{ url_for('static', filename='img/character.png') }}" alt='마스코트' class="loading-img">
        <div class="spinner"></div>
        <p>잠시만 기다려주세요~!</p>
    </div>
    <div id="content" style="display: none;">
        <div class="header">
            <a href="{{ url_for('game', game_name=game.title) }}">
                <img src="{{ url_for('static', filename='img/back.png') }}" alt="뒤로가기" class="back-button">
            </a>
            <h1>{{ game.title }}</h1>
            <a href="{{ url_for('main') }}">
                <img src="{{ url_for('static', filename='img/home.png') }}" alt="메인화면" class="home-button">
            </a>
        </div>
        <div class="main">
            <div class="video">
                <img src="{{ url_for('video_feed') }}" id="webcam" autoplay>
            </div>
        </div>
        <div id="image-container"></div>
        <!-- <div id="container">
            <img src="{{ url_for('static', filename='img/dog_1.gif') }}" alt="draggable gif" id="draggable">
        </div> -->
        <div class="footer">
            <p>점수 : {{ score }}, 좌표 : <span id="position-display">{{ position }}</span></p>
        </div>
    </div>

    <script>
        // 페이지가 완전히 로드되었을 때 실행되는 함수
        window.onload = function() {
            // 로딩을 확인하기 위해 3초의 지연 추가
            setTimeout(function() {
                // 로딩 스크린을 숨기고 콘텐츠를 표시합니다
                document.getElementById('loading-screen').style.display = 'none';
                document.getElementById('content').style.display = 'block';
            });

            // 주기적으로 toggle 값을 가져와서 업데이트하는 함수
            // setInterval(function() {
            //     fetch('/toggle_status')
            //         .then(response => response.json())
            //         .then(data => {
            //             document.getElementById('toggle-display').textContent = 'Toggle: ' + data.toggle;
            //         });
            // }, 5000); // 5초마다 업데이트

            // 주기적으로 position 값을 가져와서 업데이트하는 함수
            // setInterval(function() {
            //     fetch('/current_position')
            //         .then(response => response.json())
            //         .then(data => {
            //             if (data.x !== undefined && data.y !== undefined) {
            //                 const positionDisplay = document.getElementById('position-display');
            //                 const newPos = `(${data.x}, ${data.y})`;
            //                 positionDisplay.textContent = newPos;
            //             } else {
            //                 console.error('Invalid data format:', data);
            //             }
            //         })
            //         .catch(error => {
            //             console.error('Error fetching position:', error);
            //         });
            // }, 1000); // 1초마다 업데이트

            setInterval(function() {
                fetch('/current_position')
                    .then(response => response.json())
                    .then(data => {
                        if (data.x !== undefined && data.y !== undefined) {
                            const positionDisplay = document.getElementById('position-display');
                            const newPos = `(${data.x}, ${data.y})`;
                            positionDisplay.textContent = newPos;

                            updateImage(data.label, data.x, data.y);
                        } else {
                            console.error('Invalid data format:', data);
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching position:', error);
                    });
            }, 1); // 1초마다 업데이트
        };

        function updateImage(label, x, y) {
            const imageContainer = document.getElementById('image-container');
            if (!imageContainer) {
                console.error('imageContainer not found');
                return;
            }
            imageContainer.innerHTML = ''; // 기존 이미지를 지우고 새로 그림
            const img = document.createElement('img');
            img.src = getGifSource(label);
            img.classList.add('moving-img');
            img.style.left = `${x}px`;
            img.style.top = `${y}px`;
            imageContainer.appendChild(img);
        }

        function getGifSource(label) {
            const gifMap = {
                0: '{{ url_for("static", filename="img/butterfly_1.gif") }}',
                1: '{{ url_for("static", filename="img/cat_1.gif") }}',
                2: '{{ url_for("static", filename="img/snail_1.gif") }}',
                3: '{{ url_for("static", filename="img/deer_1.gif") }}',
                4: '{{ url_for("static", filename="img/heart.gif") }}',
                5: '{{ url_for("static", filename="img/duck_1.gif") }}',
                6: '{{ url_for("static", filename="img/sun.gif") }}',
                7: '{{ url_for("static", filename="img/house.gif") }}',
                8: '{{ url_for("static", filename="img/tree.gif") }}',
                9: '{{ url_for("static", filename="img/rock.gif") }}',
                10: '{{ url_for("static", filename="img/flower.gif") }}',
                11: '{{ url_for("static", filename="img/dog_1.gif") }}'
            };
            return gifMap[label];
        }

        // function updateLabelsPositions(data) {
        //     // 이전에 표시된 이미지를 모두 제거
        //     document.querySelectorAll('.moving-img').forEach(img => img.remove());

        //     // 새로운 데이터를 바탕으로 이미지 추가
        //     data.forEach(item => {
        //         const label = item.label;
        //         const position = item.position;
        //         const img = document.createElement('img');
        //         img.src = getGifSource(label);
        //         img.classList.add('moving-img');
        //         img.style.left = `${position[0]}px`;
        //         img.style.top = `${position[1]}px`;
        //         document.body.appendChild(img);
        //     });
        // }

        // function getGifSource(label) {
        //     const gifMap = {
        //         0: 'static/img/butterfly.gif',
        //         1: 'static/img/cat.gif',
        //         2: 'static/img/snail.gif',
        //         3: 'static/img/deer.gif',
        //         4: 'static/img/heart.gif',
        //         5: 'static/img/duck.gif',
        //         6: 'static/img/sun.gif',
        //         7: 'static/img/house.gif',
        //         8: 'static/img/tree.gif',
        //         9: 'static/img/rock.gif',
        //         10: 'static/img/flower.gif',
        //         11: 'static/img/dog.gif'
        //     };
        //     return gifMap[label] || 'static/img/default.gif';
        // }

        // const img = document.getElementById('draggable');

        // img.addEventListener('mousedown', (e) => {
        //     e.preventDefault();

        //     let shiftX = e.clientX - img.getBoundingClientRect().left;
        //     let shiftY = e.clientY - img.getBoundingClientRect().top;

        //     img.style.position = 'absolute';
        //     img.style.zIndex = 1000;
        //     document.body.append(img);

        //     moveAt(e.pageX, e.pageY);

        //     function moveAt(pageX, pageY) {
        //         img.style.left = pageX - shiftX + 'px';
        //         img.style.top = pageY - shiftY + 'px';
        //     }

        //     function onMouseMove(e) {
        //         moveAt(e.pageX, e.pageY);
        //     }

        //     document.addEventListener('mousemove', onMouseMove);

        //     img.onmouseup = function() {
        //         document.removeEventListener('mousemove', onMouseMove);
        //         img.onmouseup = null;
        //     };
        // });

        // img.ondragstart = function() {
        //     return false;
        // };
    </script>
</body>
</html>
