<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ game.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
    <style>
        body {
            /* background-image: url("{{ url_for('static', filename='img/main_background.webp') }}"); */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>
<body>
    <div id="loading-screen">
        <div class="spinner"></div>
        <p>로딩 중...</p>
    </div>
    <div id="content" style="display: none;">
        <div class="header">
            <a href="{{ url_for('game', game_name=game.title) }}">
                <img src="{{ url_for('static', filename='img/back.png') }}" alt="뒤로가기" class="back-button">
            </a>
            <h1>{{ game.title }}</h1>
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/home.png') }}" alt="메인화면" class="home-button">
            </a>
        </div>
        <div class="main">
            <div class="video">
                <img src="{{ url_for('video_feed') }}" id="webcam" autoplay>
            </div>
        </div>
        <div class="footer">
            <p>여기는 점수 등 라벨 넣기</p>
        </div>
    </div>

    <script>
        // 페이지가 완전히 로드되었을 때 실행되는 함수
        window.onload = function() {
            // 로딩을 확인하기 위해 3초의 지연 추가
            setTimeout(function() {
                // 로딩 스크린을 숨기고 콘텐츠를 표시합니다
                document.getElementById('loading-screen').style.display = 'none';
                document.getElementById('content').style.display = 'block';
            }); // 3초 (3000 밀리초) 지연

            // 주기적으로 toggle 값을 가져와서 업데이트하는 함수
            setInterval(function() {
                fetch('/toggle_status')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('toggle-display').textContent = 'Toggle: ' + data.toggle;
                    });
            }, 5000); // 1초마다 업데이트
        };
    </script>
</body>
</html>
