<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ game.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
    <style>
        body {
            /* background-image: url("{{ url_for('static', filename='img/main_background.webp') }}"); */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        #loading-screen {
            background-image: url("{{ url_for('static', filename='img/main_background5.webp') }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>
<body>
    <div id="loading-screen">
        <img src="{{ url_for('static', filename='img/character.png') }}" alt='마스코트' class="loading-img">
        <div class="spinner"></div>
        <p>잠시만 기다려주세요~!</p>
    </div>
    <div id="content" style="display: none;">
        <div class="header">
            <a href="{{ url_for('game', game_name=game.title) }}">
                <img src="{{ url_for('static', filename='img/back.png') }}" alt="뒤로가기" class="back-button">
            </a>
            <h1>{{ game.title }}</h1>
            <a href="{{ url_for('main') }}">
                <img src="{{ url_for('static', filename='img/home.png') }}" alt="메인화면" class="home-button">
            </a>
        </div>
        <div class="main">
            <div class="video">
                <img src="{{ url_for('video_feed') }}" id="webcam" autoplay>
            </div>
        </div>
        <!-- <div id="container">
            <img src="{{ url_for('static', filename='img/dog_1.gif') }}" alt="draggable gif" id="draggable">
        </div> -->
        <div class="footer">
            <p>점수 : {{ score }}, 좌표 : <span id="position-display">{{ position }}</span></p>
        </div>
    </div>

    <script>
        // 페이지가 완전히 로드되었을 때 실행되는 함수
        window.onload = function() {
            // 로딩을 확인하기 위해 3초의 지연 추가
            setTimeout(function() {
                // 로딩 스크린을 숨기고 콘텐츠를 표시합니다
                document.getElementById('loading-screen').style.display = 'none';
                document.getElementById('content').style.display = 'block';
            }); // 3초 (3000 밀리초) 지연

            // 주기적으로 toggle 값을 가져와서 업데이트하는 함수
            setInterval(function() {
                fetch('/toggle_status')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('toggle-display').textContent = 'Toggle: ' + data.toggle;
                    });
            }, 5000); // 1초마다 업데이트

            // setInterval(function() {
            //     fetch('/get_position')
            //         .then(response => response.json())
            //         .then(data => {
            //             // 좌표를 픽셀 단위로 변환
            //             const videoWidth = 1173.33;
            //             const videoHeight = 880;
            //             const startX = (1920 - videoWidth) / 2;
            //             const startY = 100;
            //             const pixelX = data.x * videoWidth + startX;
            //             const pixelY = data.y * videoHeight + startY;
                        
            //             document.getElementById('position-display').textContent = `(${pixelX.toFixed(2)}, ${pixelY.toFixed(2)})`;
            //         });
            // }, 1000);
        };

        const img = document.getElementById('draggable');

        img.addEventListener('mousedown', (e) => {
            e.preventDefault();

            let shiftX = e.clientX - img.getBoundingClientRect().left;
            let shiftY = e.clientY - img.getBoundingClientRect().top;

            img.style.position = 'absolute';
            img.style.zIndex = 1000;
            document.body.append(img);

            moveAt(e.pageX, e.pageY);

            function moveAt(pageX, pageY) {
                img.style.left = pageX - shiftX + 'px';
                img.style.top = pageY - shiftY + 'px';
            }

            function onMouseMove(e) {
                moveAt(e.pageX, e.pageY);
            }

            document.addEventListener('mousemove', onMouseMove);

            img.onmouseup = function() {
                document.removeEventListener('mousemove', onMouseMove);
                img.onmouseup = null;
            };
        });

        img.ondragstart = function() {
            return false;
        };
    </script>
</body>
</html>
