<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Proj Main Menu</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <div class="top">
            <div class="title-bar">
                <p class="title">i-SON</p>
                <p class="discription">지금 바로 시작해보세요!</p>
            </div>
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        </div>
        <p class="category"><b>Game Categories</b></p>
        <div class="main-button">
            <button type="button"><a href="{{ url_for('game', game_name='game1') }}" class="button-blue">그림자<br>놀이</a></button>
            <button type="button"><a href="{{ url_for('game', game_name='game2') }}" class="button-white">두더지<br>잡기</a></button>
            <button type="button"><a href="{{ url_for('game', game_name='game1') }}" class="button-blue">산성비</a></button>
        </div>
    </body>
</html>
