<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Proj Main Menu</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <style>
            html, body {
                overflow: hidden;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            body {
                background-image: url("{{ url_for('static', filename='img/gpt_background2.webp') }}");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        </style>
    </head>
    <body>
        <div class="top">
            <p class="discription">게임은 어떠셨나요?</p>
        </div>
        <div class="button">
            <button class="button">
                <div class="icon">
                    <div class="cannon"></div>
                    <div class="confetti">
                        <svg viewBox="0 0 18 16">
                            <polyline points="1 10 4 7 4 5 6 1" />
                            <path d="M4,13 C5.33333333,9 7,7 9,7 C11,7 12.3340042,6 13.0020125,4" />
                            <path d="M6,15 C7.83362334,13.6666667 9.83362334,12.6666667 12,12 C14.1663767,11.3333333 15.8330433,9.66666667 17,7" />
                        </svg>
                        <i></i><i></i><i></i><i></i><i></i><i></i>
                        <div class="emitter"></div>
                    </div>
                </div>
                <span>Confirm</span>
            </button>
            
            <button class="button white">
                <div class="icon">
                    <div class="cannon"></div>
                    <div class="confetti">
                        <svg viewBox="0 0 18 16">
                            <polyline points="1 10 4 7 4 5 6 1" />
                            <path d="M4,13 C5.33333333,9 7,7 9,7 C11,7 12.3340042,6 13.0020125,4" />
                            <path d="M6,15 C7.83362334,13.6666667 9.83362334,12.6666667 12,12 C14.1663767,11.3333333 15.8330433,9.66666667 17,7" />
                        </svg>
                        <i></i><i></i><i></i><i></i><i></i><i></i>
                        <div class="emitter"></div>
                    </div>
                </div>
                <span>Confirm</span>
            </button>
            
            <!-- <button class="button grey">
                <div class="icon">
                    <div class="cannon"></div>
                    <div class="confetti">
                        <svg viewBox="0 0 18 16">
                            <polyline points="1 10 4 7 4 5 6 1" />
                            <path d="M4,13 C5.33333333,9 7,7 9,7 C11,7 12.3340042,6 13.0020125,4" />
                            <path d="M6,15 C7.83362334,13.6666667 9.83362334,12.6666667 12,12 C14.1663767,11.3333333 15.8330433,9.66666667 17,7" />
                        </svg>
                        <i></i><i></i><i></i><i></i><i></i><i></i>
                        <div class="emitter"></div>
                    </div>
                </div>
                <span>Confirm</span>
            </button> -->
            
            <!-- dribbble - twitter -->
            <!-- <a class="dribbble" href="https://dribbble.com/ai" target="_blank"><img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg" alt=""></a>
            <a class="twitter" target="_top" href="https://twitter.com/aaroniker_me"><svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72"><path d="M67.812 16.141a26.246 26.246 0 0 1-7.519 2.06 13.134 13.134 0 0 0 5.756-7.244 26.127 26.127 0 0 1-8.313 3.176A13.075 13.075 0 0 0 48.182 10c-7.229 0-13.092 5.861-13.092 13.093 0 1.026.118 2.021.338 2.981-10.885-.548-20.528-5.757-26.987-13.679a13.048 13.048 0 0 0-1.771 6.581c0 4.542 2.312 8.551 5.824 10.898a13.048 13.048 0 0 1-5.93-1.638c-.002.055-.002.11-.002.162 0 6.345 4.513 11.638 10.504 12.84a13.177 13.177 0 0 1-3.449.457c-.846 0-1.667-.078-2.465-.231 1.667 5.2 6.499 8.986 12.23 9.09a26.276 26.276 0 0 1-16.26 5.606A26.21 26.21 0 0 1 4 55.976a37.036 37.036 0 0 0 20.067 5.882c24.083 0 37.251-19.949 37.251-37.249 0-.566-.014-1.134-.039-1.694a26.597 26.597 0 0 0 6.533-6.774z"></path></svg></a> -->
        </div>
    </body>
</html>
